<h1>Stats for <%= $simple_config.accounts.last_fm.artist_name -%></h1>

<script type="text/javascript">
  function show(elem) {
    $$('.chart').each(function(elem){ elem.style.display = 'none'});
    $(elem).toggle();
  }
</script>

<div class="jump_links">
  <ul>
    <li><em>Show:</em></li>
    <li><a href="javascript:show('lastfm_listeners');">Last.fm Listeners</a> |</li>
    <li><a href="javascript:show('lastfm_playcount');">Last.fm Play Count</a> |</li>
    <li><a href="javascript:show('myspace_profile_views');">MySpace Profile Views</a></li>
    <li><a href="javascript:show('twitter_followers');">Twitter Followers</a> |</li>
    <li><a href="javascript:show('twitter_friends');">Twitter Friends</a> |</li>
  </ul>
</div>

<br style="clear: both;" /><br /><br />

<div id="lastfm_listeners" class="chart" style="display:block;"></div>
<div id="lastfm_playcount" class="chart" style="display:none;"></div>
<div id="myspace_profile_views" class="chart" style="display:none;"></div>
<div id="twitter_followers" class="chart" style="display:none;"></div>
<div id="twitter_friends" class="chart" style="display:none;"></div>

<% if @stats.empty? -%>
  <p>No data has been collected yet!</p>
<% else -%>
  <%= Seer::visualize(
        @stats,
        :as => :line_chart,
        :in_element => 'twitter_followers',
        :series => {
          :series_label => 'Twitter Followers',
          :data_label => 'date',
          :data_method => 'count',
          :data_series => [@stats.map{|s| s.datum(:twitter_followers)}]
        },
        :chart_options => {
          :height => 300,
          :width => 950,
          :axis_font_size => 11,
          :colors => ['#7e7587','#990000','#009900'],
          :title => "Twitter Followers",
          :point_size => 5,
          :legend => 'none'
        }
       )
   -%>

  <%= Seer::visualize(
        @stats,
        :as => :line_chart,
        :in_element => 'twitter_friends',
        :series => {
          :series_label => 'Twitter Friends',
          :data_label => 'date',
          :data_method => 'count',
          :data_series => [@stats.map{|s| s.datum(:twitter_friends)}]
        },
        :chart_options => { 
          :height => 300,
          :width => 950,
          :axis_font_size => 11,
          :colors => ['#7e7587','#990000','#009900'],
          :title => "Twitter Friends",
          :point_size => 5,
          :legend => 'none'
        }
       )
   -%>

  <%= Seer::visualize(
        @stats, 
        :as => :line_chart,
        :in_element => 'lastfm_playcount',
        :series => {
          :series_label => 'Playcount',
          :data_label => 'date',
          :data_method => 'count',
          :data_series => [@stats.map{|s| s.datum(:lastfm_playcount)}]
        },
        :chart_options => { 
          :height => 300,
          :width => 950,
          :axis_font_size => 11,
          :colors => ['#7e7587','#990000','#009900'],
          :title => "Last.fm Playcount",
          :point_size => 5,
          :legend => 'none'
        }
       )
   -%>

  <%= Seer::visualize(
        @stats,
        :as => :line_chart,
        :in_element => 'lastfm_listeners',
        :series => {
          :series_label => 'Listeners',
          :data_label => 'date',
          :data_method => 'count',
          :data_series => [@stats.map{|s| s.datum(:lastfm_listeners)}]
        },
        :chart_options => {
          :height => 300,
          :width => 950,
          :axis_font_size => 11,
          :colors => ['#7e7587','#990000','#009900'],
          :title => "Last.fm Listeners",
          :point_size => 5,
          :legend => 'none'
        }
       )
   -%>

  <%= Seer::visualize(
        @stats,
        :as => :line_chart,
        :in_element => 'myspace_profile_views',
        :series => {
          :series_label => 'Views',
          :data_label => 'date',
          :data_method => 'count',
          :data_series => [@stats.map{|s| s.datum(:myspace_profile_views)}]
        },
        :chart_options => {
          :height => 300,
          :width => 950,
          :axis_font_size => 11,
          :colors => ['#7e7587','#990000','#009900'],
          :title => "MySpace Profile Views",
          :point_size => 5,
          :legend => 'none'
        }
       )
  -%>
<% end -%>

<table class="standard">
  <thead>
    <tr>
      <th>Date</th>
      <th>Last.fm Plays</th>
      <th>Last.fm Listeners</th>
      <th>Twitter Followers</th>
      <th>Twitter Friends</th>
      <th>MySpaceProfile Views</th>
    </tr>
  </thead>
  <tbody>
  <% @stats.each do |stat| -%>
    <tr class="<%= cycle('odd', 'even') -%>">
      <td align="center"><%= stat.date -%></td>
      <td align="center"><%= stat.lastfm_playcount.to_i -%></td>
      <td align="center"><%= stat.lastfm_listeners.to_i -%></td>
      <td align="center"><%= stat.twitter_followers.to_i -%></td>
      <td align="center"><%= stat.twitter_friends.to_i -%></td>
      <td align="center"><%= stat.myspace_profile_views.to_i -%></td>
    </tr>
  <% end -%>
  </tbody>
</table>

